n8n/demos/mixpeek-demo-workflow.json
{
  "name": "Mixpeek Demo - Full Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "resource": "bucket",
        "operation": "create",
        "bucketName": "demo-bucket"
      },
      "id": "create-bucket",
      "name": "1. Create Bucket",
      "type": "@mixpeek/n8n-nodes-mixpeek.mixpeek",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": {
        "mixpeekApi": {
          "id": "",
          "name": "Mixpeek API"
        }
      }
    },
    {
      "parameters": {
        "resource": "collection",
        "operation": "create",
        "collectionName": "demo-collection",
        "additionalFields": {
          "bucket_id": "={{ $json.bucket_id }}"
        }
      },
      "id": "create-collection",
      "name": "2. Create Collection",
      "type": "@mixpeek/n8n-nodes-mixpeek.mixpeek",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "mixpeekApi": {
          "id": "",
          "name": "Mixpeek API"
        }
      }
    },
    {
      "parameters": {
        "resource": "upload",
        "operation": "create",
        "bucketId": "={{ $('1. Create Bucket').item.json.bucket_id }}",
        "filename": "sample-image.jpg",
        "contentType": "image/jpeg"
      },
      "id": "create-upload",
      "name": "3. Get Upload URL",
      "type": "@mixpeek/n8n-nodes-mixpeek.mixpeek",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "mixpeekApi": {
          "id": "",
          "name": "Mixpeek API"
        }
      }
    },
    {
      "parameters": {
        "resource": "upload",
        "operation": "confirm",
        "bucketId": "={{ $('1. Create Bucket').item.json.bucket_id }}",
        "uploadId": "={{ $json.upload_id }}"
      },
      "id": "confirm-upload",
      "name": "4. Confirm Upload",
      "type": "@mixpeek/n8n-nodes-mixpeek.mixpeek",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "mixpeekApi": {
          "id": "",
          "name": "Mixpeek API"
        }
      }
    },
    {
      "parameters": {
        "resource": "retriever",
        "operation": "execute",
        "retrieverId": "your-retriever-id",
        "query": "find images with people"
      },
      "id": "search",
      "name": "5. Search Content",
      "type": "@mixpeek/n8n-nodes-mixpeek.mixpeek",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "mixpeekApi": {
          "id": "",
          "name": "Mixpeek API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "1. Create Bucket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Create Bucket": {
      "main": [
        [
          {
            "node": "2. Create Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Create Collection": {
      "main": [
        [
          {
            "node": "3. Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Get Upload URL": {
      "main": [
        [
          {
            "node": "4. Confirm Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Confirm Upload": {
      "main": [
        [
          {
            "node": "5. Search Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
